# build artifacts
dist

# python artifacts
__pycache__
*.egg-info
.pytest
.pytest_cache

# terraform
*.tfstate*
*.tfvars*
.terraform*

# virtual environment artifacts
.venv
.venvs
.python-version

# MacOS artifacts
.DS_Store

# IDE artifacts
.vscode
